### Exploratory Data Analysis (EDA) - Telecom Churn

In [1]:
# Import libraries

# For Data Analysis
import numpy as np
import pandas as pd

#For Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load your Dataset

df = pd.read_csv("C:\\Users\\personal\\Documents\\Urch_Training\\Data Analyst\\10Alytics\\telecom_churn.csv")

In [3]:
# Data Dimensionality
# Data Dimensionality - number of rows, number of columns in the dataset
# columns are regarded as FEATURES

df.shape

(3333, 20)

In [4]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [5]:
# Extract the columns
# Check for space and remove to avoid errors

df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [6]:
#Check information of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB

In [7]:
# Converting Churn Feature which is Boolean into an integer

df["Churn"] = df["Churn"].astype("int64")

In [8]:
# Statistical run down of the dataset

df.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856,0.144914
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491,0.352067
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,0.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000,0.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,0.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

In [12]:
# Objec and Boolean data type for describe
df.describe(include=["object", "bool"])

       State International plan Voice mail plan
count   3333               3333            3333
unique    51                  2               2
top       WV                 No              No
freq     106               3010            2411

In [14]:
# Looking at the distribution of Churn - unbalanced dataset

df["Churn"].value_counts()

0    2850
1     483
Name: Churn, dtype: int64

In [15]:
# 2850 user out 3333 are false customers while 483 are true customers

df["Churn"].value_counts(normalize=True)

0    0.855086
1    0.144914
Name: Churn, dtype: float64

In [17]:
round(df["Churn"].value_counts(normalize=True),2)

0    0.86
1    0.14
Name: Churn, dtype: float64

### Sorting
DataFrame can be sorted by the value of one variable in the dataset

In [19]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [22]:
# Sorting based on one column
df.sort_values(by="Number vmail messages", ascending=False).head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
845,FL,144,415,No,Yes,51,283.9,98,48.26,192.0,109,16.32,196.3,85,8.83,10.0,4,2.70,1,0
2887,OR,134,415,No,Yes,50,208.8,130,35.50,132.9,104,11.30,136.7,107,6.15,11.1,4,3.00,2,0
2716,WV,137,510,No,Yes,50,186.5,94,31.71,178.0,106,15.13,215.6,100,9.70,12.1,4,3.27,2,0
1596,AR,63,510,No,Yes,49,214.9,86,36.53,198.2,89,16.85,170.8,139,7.69,8.2,5,2.21,0,0
268,MO,64,510,No,Yes,48,94.4,104,16.05,136.2,101,11.58,147.4,89,6.63,4.5,4,1.22,0,0

In [23]:
# Sorting based on one column or more columns
df.sort_values(by=["Churn", "Number vmail messages"], ascending=False).head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
277,SD,144,408,No,Yes,48,189.8,96,32.27,123.4,67,10.49,214.2,106,9.64,6.5,2,1.76,2,1
1269,FL,55,510,No,Yes,45,130.5,114,22.19,208.4,94,17.71,141.6,114,6.37,11.0,5,2.97,4,1
1454,UT,133,408,No,Yes,44,174.0,80,29.58,209.4,113,17.80,224.1,87,10.08,14.1,7,3.81,2,1
3246,NC,77,408,Yes,Yes,44,103.2,117,17.54,236.3,86,20.09,203.5,101,9.16,11.9,2,3.21,0,1
115,ME,36,510,Yes,Yes,42,196.8,89,33.46,254.9,122,21.67,138.3,126,6.22,20.0,6,5.40,0,1

In [24]:
# Mean of numerical feature for Churn users

df[df["Churn"]==1].mean()

Account length            102.664596
Area code                 437.817805
Number vmail messages       5.115942
Total day minutes         206.914079
Total day calls           101.335404
Total day charge           35.175921
Total eve minutes         212.410145
Total eve calls           100.561077
Total eve charge           18.054969
Total night minutes       205.231677
Total night calls         100.399586
Total night charge          9.235528
Total intl minutes         10.700000
Total intl calls            4.163561
Total intl charge           2.889545
Customer service calls      2.229814
Churn                       1.000000
dtype: float64

In [25]:
df[df["Churn"]==0].mean()

Account length            100.793684
Area code                 437.074737
Number vmail messages       8.604561
Total day minutes         175.175754
Total day calls           100.283158
Total day charge           29.780421
Total eve minutes         199.043298
Total eve calls           100.038596
Total eve charge           16.918909
Total night minutes       200.133193
Total night calls         100.058246
Total night charge          9.006074
Total intl minutes         10.158877
Total intl calls            4.532982
Total intl charge           2.743404
Customer service calls      1.449825
Churn                       0.000000
dtype: float64

In [26]:
df[df["Voice mail plan"]=="Yes"].mean()

Account length            101.252711
Area code                 437.131236
Number vmail messages      29.277657
Total day minutes         179.626790
Total day calls           100.075922
Total day charge           30.537072
Total eve minutes         202.746963
Total eve calls            99.906725
Total eve charge           17.233796
Total night minutes       201.369089
Total night calls         100.599783
Total night charge          9.061638
Total intl minutes         10.231345
Total intl calls            4.509761
Total intl charge           2.763026
Customer service calls      1.524946
Churn                       0.086768
dtype: float64

In [32]:
# Example: find out states that with w

df[df["State"].apply(lambda state: state[0] == "W")].head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
9,WV,141,415,Yes,Yes,37,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0,0
26,WY,57,408,No,Yes,39,213.0,115,36.21,191.1,112,16.24,182.7,115,8.22,9.5,3,2.57,0,0
44,WI,64,510,No,No,0,154.0,67,26.18,225.8,118,19.19,265.3,86,11.94,3.5,3,0.95,1,0
49,WY,97,415,No,Yes,24,133.2,135,22.64,217.2,58,18.46,70.6,79,3.18,11.0,3,2.97,1,0
54,WY,87,415,No,No,0,151.0,83,25.67,219.7,116,18.67,203.9,127,9.18,9.7,3,2.62,5,1

In [33]:
# Crosstab
# It allows you to create a summary table

pd.crosstab(df["Churn"], df["International plan"])

International plan    No  Yes
Churn
0                   2664  186
1                    346  137

In [34]:
pd.crosstab(df["Churn"], df["State"])

State,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
Churn,,,,,,,,,,,,,,,,,,,,,
0,49,72,44,60,25,57,62,49,52,55,...,52,48,54,62,72,65,52,71,96,68
1,3,8,11,4,9,9,12,5,9,8,...,8,5,18,10,5,8,14,7,10,9

In [35]:
pd.crosstab(df["Churn"], df["International plan"], normalize=True)

International plan       No       Yes
Churn
0                   0.79928  0.055806
1                   0.10381  0.041104

In [36]:
# Pivot Table

df.pivot_table(["Total day calls", "Total eve calls", "Total night calls"], ["State"], aggfunc="mean")

       Total day calls  Total eve calls  Total night calls
State
AK           95.269231        96.576923          97.346154
AL           99.100000        98.462500          98.612500
AR          102.145455        97.836364          99.054545
AZ          100.109375       102.406250          99.984375
CA          104.500000       103.088235          99.205882
CO           95.121212        98.166667          97.060606
CT           98.432432        99.121622         102.283784
DC          100.166667       101.981481          97.666667
DE           98.639344        97.360656         101.213115
FL          101.000000       108.920635         100.333333
GA          103.055556       103.888889         105.425926
HI          102.811321        98.849057          99.150943
IA          103.045455        99.545455         100.136364
ID          106.219178       100.054795         100.424658
IL          101.689655       100.810345          99.224138
IN          107.056338        97.943662         101.929577
KS          101.028571       101.528571          99.028571
KY          100.338983        98.237288         101.694915
LA          103.509804        96.627451          99.588235
MA          102.292308        98.230769          96.600000
MD           99.357143        98.571429          95.757143
ME           99.500000       104.596774          98.967742
MI          101.205479       101.986301         102.630137
MN           99.119048       101.642857         102.130952
MO           99.936508       101.047619         101.269841
MS          100.707692       100.200000         100.892308
MT           95.220588        97.514706         102.382353
NC          102.794118       103.941176         100.500000
ND          100.145161       105.467742         102.274194
NE           97.409836       103.590164         101.639344
NH           98.964286        95.803571          96.678571
NJ          100.102941       103.441176         100.147059
NM          102.241935       102.983871         100.870968
NV          101.424242        96.257576         101.363636
NY           98.240964       100.024096          99.409639
OH           99.628205       101.205128         103.256410
OK          100.262295       104.278689         100.983607
OR           95.730769        98.500000         102.679487
PA           98.644444       101.622222          98.911111
RI          100.430769        94.969231         100.338462
SC          102.466667        99.783333         100.183333
SD           94.816667        98.633333          94.016667
TN          101.452830       103.754717          94.264151
TX           99.986111       101.902778         101.041667
UT           98.958333        98.027778         100.625000
VA          105.363636        99.948052          94.922078
VT          100.328767        97.671233         100.767123
WA          101.196970        95.742424         102.909091
WI           96.679487        99.538462         100.461538
WV          103.783019        98.056604         100.566038
WY          102.220779        99.233766         102.025974

In [37]:
df.pivot_table(["Total day calls", "Total eve calls", "Total night calls"], ["Area code"], aggfunc="mean")

           Total day calls  Total eve calls  Total night calls
Area code
408             100.496420        99.788783          99.039379
415             100.576435       100.503927         100.398187
510             100.097619        99.671429         100.601190

In [39]:
df.pivot_table(["Total day calls", "Total eve calls", "Total night calls"], ["State"], aggfunc="sum")

       Total day calls  Total eve calls  Total night calls
State
AK                4954             5022               5062
AL                7928             7877               7889
AR                5618             5381               5448
AZ                6407             6554               6399
CA                3553             3505               3373
CO                6278             6479               6406
CT                7284             7335               7569
DC                5409             5507               5274
DE                6017             5939               6174
FL                6363             6862               6321
GA                5565             5610               5693
HI                5449             5239               5255
IA                4534             4380               4406
ID                7754             7304               7331
IL                5898             5847               5755
IN                7601             6954               7237
KS                7072             7107               6932
KY                5920             5796               6000
LA                5279             4928               5079
MA                6649             6385               6279
MD                6955             6900               6703
ME                6169             6485               6136
MI                7388             7445               7492
MN                8326             8538               8579
MO                6296             6366               6380
MS                6546             6513               6558
MT                6475             6631               6962
NC                6990             7068               6834
ND                6209             6539               6341
NE                5942             6319               6200
NH                5542             5365               5414
NJ                6807             7034               6810
NM                6339             6385               6254
NV                6694             6353               6690
NY                8154             8302               8251
OH                7771             7894               8054
OK                6116             6361               6160
OR                7467             7683               8009
PA                4439             4573               4451
RI                6528             6173               6522
SC                6148             5987               6011
SD                5689             5918               5641
TN                5377             5499               4996
TX                7199             7337               7275
UT                7125             7058               7245
VA                8113             7696               7309
VT                7324             7130               7356
WA                6679             6319               6792
WI                7541             7764               7836
WV               11001            10394              10660
WY                7871             7641               7856